@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #071724; 
}

#container {
  background-color: #092136;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  color: #9ed2e0;
  width: 300px; 
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  width: calc(100% - 100px); 
  margin-right: 10px; 
  background: #092136;
  border-radius: 5px;
  border: 2px solid #9ed2e0;
  padding: 10px;
  color: #9ed2e0;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

input:focus{
  outline: none;
  background: #092136;
}

button {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #092136;
  color: #9ed2e0;
  border: 2px solid #9ed2e0;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover{
  background-color: #112b44;
}

.error-input{
  color: red;
  left: 0;
}
img{
  width: 180px;
}

.hide{
  display: none;
}
h1{
  font-size: 3rem;
}
.dataDiv{
  display: flex;
  justify-content: center;
}

.data{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 10px;
}
.img-s{
  width: 90px;
}

